body {
    margin: 10px 10%;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(49,213,107,1) 0%, rgba(82,161,131,0.5868167202572347) 0%, rgba(242,237,185,1) 100%);
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}
h1 {
    font-size: 100%;
    letter-spacing: 10px;
    text-align: center;
    font-family: 'Lobster Two', cursive;
}
.h4 {
    color: #52a18b;
    text-align: center;
 
}

ul {
    text-decoration: none;
    text-align: center;
    color: #52a18b;
    box-shadow: none; 
    list-style: none;
    overflow: hidden;

    
}
li{
    float: left;
    width: 20%
}

.logo{
    text-align: center;
    color: #52a18b;
    font-family: 'Lobster Two', cursive;
    
}
.tit {
    text-align: center;
    color: #52a18b;
    font-size: 150%;
    font-family: 'Lobster Two', cursive;
}
p {
    color:#52a18b;

}

a{
    color: #52a18b;
}

